body
{
	background-color: #3A3837;
}
#Portada
{
	position: absolute;
	margin: auto;
	margin-left: auto;
	top:5px;
	width: 930px;
	height: 120px;
	left: 150px;
	background-image: url(img/Portada.png);
}

#contenedor01
{
	position: absolute;
	margin: auto;
	top: 150px;
	left: 150px;
	width: 930px;
	height: 450px;
	background-color: rgba(0,0,0,0.5);
}
#Complemento
{
	position: absolute;
	margin: auto;
	top: 125px;
	width: 930px;
	height: 40px;
	left: 150px;
}
#opciones
{
	position: absolute;
	height: 450px;
	width: 200px;
	background-color: rgba(0,0,0,0.5);
}
#fila
{
	width: 40px;
}
#columna
{
	width: 40px;
}
#juego{
   position: absolute;
   left: 200px;
   width: 730px;
   height: 450px;
}
#Jugador
{
	width: 70px;
}
.cajasTexto
{
	border-radius: 30px;
	font-size: 10px;
	background-color: rgba(255,106,5,0.5);
	border: 0px;
	height: 20px;
	font-size: 13px;
	color: white;
	font-style: bold;
	text-align: center;
}
.cont
{

}
.etiqueta
{
	color: white;
}
#BotonE
{
	width: 160px;
	height: 60px;
	background-color:#77FD00;
	border: none;
	color: white;
	font-style: bold;
	font-size: 20px;
	border-radius: 30px;
}
#BotonE:hover
{
	background-color: #FD0000;
	height: 70px;
	width: 170px;
}