/*Principal de todo*/
div#principal{
	margin: auto;
	width: 100%;
	height: 900px;
	border-style: double;
}

div#superior{
	width: 100%;
	height: 6%;
	border-style: double;
}

div#izquierdo{
	float: left;
	margin-top: 15px;
	width:20%;
	height: 600px;
	border-style: double;
}

div#cuerpo{
	margin-top: 15px;
	margin-left: 21%;
	width:78%;
	height: 800px;
	border-style: double;
}
/*Principal de todo
	Opciones*/
input[type=search]{
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type=search]:focus{
	width: 50%;

}

/*pag. Perfil*/
div#imagen{
	float: left;
	width: 26%;
	height: 40%;
	border-style: double;
}

div#informacion{
	width: 100%;
	height: 80%;
	border-style: double;
}

div#cosas_mias{
	margin: auto;
	width: 98%;
	height: 30%;
	border-style: double;

}

.edit{
	-webkit-trasnform: translate(90%,-50px);
	transform: translate(90%,-50px);
}
